<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Attribute">
        <plugin name="sort_attribute_options_before_attribute_save" type="Jston\SortingOptions\Plugin\Model\ResourceModel\Attribute\Save" />
    </type>
</config>